mat-card-content {
  h3 {
    margin: 0;
  }
  p {
    display: flex;
    align-items: center;
    font-size: smaller;
    button {
      margin-left: 4px;
    }
  }
}

mat-card {
  margin: 20px auto;
}
