mat-card {
  max-width: 400px;
  margin: 20px auto;

  mat-card-header {
    .example-header-image {
      background-image: url('/assets/people.svg'); /* Ajouter une image si souhaité */
      background-size: cover;
      border-radius: 50%;
    }

    mat-card-title {
      font-weight: bold;
      font-size: 1.4em;
      color: #3f51b5;
    }
  }

  mat-card-content {
    p {
      display: flex;
      align-items: center;
      margin: 8px 0;
      font-size: 1.1em;

      mat-icon {
        margin-right: 8px;
        color: #3f51b5;
      }
    }
  }
}
