.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-left: calc(20px + (100% - 1200px) / 2);
  padding-right: calc(20px + (100% - 1200px) / 2);

  > * {
    display: flex;
    align-items: center;
  }

  .left-menu {
    flex-grow: 2;
  }

  .right-menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
  }

  .logo {
    flex-grow:1;
    align-items: center;
  }

  @media (max-width: 1200px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

a {
  color:inherit;
  text-decoration: inherit;
  font-family: inherit;
}

a:hover {
  color:inherit;
  text-decoration: inherit;
}
