<p>
  <mat-toolbar color="primary">

    <span class="right-menu">
    <button (click)="sidenavOpeningService.toggle()" mat-icon-button id="navbar-toggle-button" aria-label="Example icon-button with menu icon">
      @if(sidenavOpeningService.isOpen()) {
        <mat-icon>close</mat-icon>
      } @else {
        <mat-icon>menu</mat-icon>
      }
    </button>
    <button mat-icon-button aria-label="icon-button with shopping icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button aria-label="icon-button with facebook icon">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button  aria-label="icon-button with instagram icon">
      <mat-icon svgIcon="instagram">instagram</mat-icon>
    </button>
    </span>

    <span class="logo">
      <img ngSrc="assets/logo.png" alt="logo" height="55" width="55" priority/>
    </span>

    <span class="left-menu">
      <mat-icon>login</mat-icon>
    </span>
  </mat-toolbar>
</p>
