@use 'styles/theme' as variables;
@use '@angular/material' as mat;
/**
 * Mixin pour définir la couleur de fond en fonction d'une palette de couleurs du thème.
 *
 * @param $keyword La clé de la palette de couleurs à utiliser ('primary', 'accent', 'warn'). Par défaut, 'primary'.
 */
@mixin background-color($keyword: 'primary') {
  $background-color: null;

  @if $keyword == 'accent' {
    $background-color: mat.get-theme-color(variables.$my-theme, accent);
  } @else if $keyword == 'warn' {
    $background-color: mat.get-theme-color(variables.$my-theme, warn);
  } @else {
    $background-color: mat.get-theme-color(variables.$my-theme, primary);
  }

  background-color: $background-color;
}
