@use 'styles/theme' as variables;
@use '@angular/material' as mat;
/**
 * Mixin pour définir la couleur de texte en fonction d'une palette de couleurs du thème.
 *
 * @param $keyword La clé de la palette de couleurs à utiliser ('primary', 'accent', 'warn'). Par défaut, 'primary'.
 */
@mixin text-color($keyword: 'primary') {
  $color: null;

  @if $keyword == 'accent' {
    $color: mat.get-theme-color(variables.$my-theme, accent, default-contrast);
  } @else if $keyword == 'warn' {
    $color: mat.get-theme-color(variables.$my-theme, warn, default-contrast);
  } @else {
    $color: mat.get-theme-color(variables.$my-theme, primary, default-contrast);
  }

  color: $color;
}
