<mat-card>
  <mat-card-header>
    <mat-card-title>{{hallSignal().name}} </mat-card-title>
  </mat-card-header>
  <google-map width="100%" [height]="300" [zoom]="14" [center]="latLng" [options]="gmOptions" [mapId]="'test'">
    <map-advanced-marker [position]="latLng" (mapClick)="openInfoWindows(marker)" #marker="mapAdvancedMarker"></map-advanced-marker>
    <map-info-window [options]="mapInfoOptions">
      <div class="info-window-container">

        <p class="info-window-address">{{ hallSignal().address.street }}</p>
        <p class="info-window-address">
          {{ hallSignal().address.postalCode }} {{ hallSignal().address.city }}
        </p>
        <a [href]="getGoogleMapsLink(latLng.lat, latLng.lng)" target="_blank" class="info-window-link">
          <button class="info-window-button">Ouvrir dans Google Maps</button>
        </a>
      </div>
    </map-info-window>
  </google-map>
  @if(hallSignal().hasTemplate("updateHall") || hallSignal().hasTemplate("deleteHall")) {
  <mat-card-actions [align]="'end'">
    @if(hallSignal().hasTemplate("updateHall")) {
      <button mat-button (click)="onModify()">Modifier</button>
    }
    @if(hallSignal().hasTemplate("deleteHall")) {
      <button mat-button (click)="onDelete()">Supprimer</button>
    }
  </mat-card-actions>
  }
</mat-card>

