<div>
  <div class="coach-card-list">
    @if(paginatedResourceTeamsSignal().hasEmbedded("teams")) {
      @for (team of paginatedResourceTeamsSignal().getEmbedded("teams"); track team.getSelfLink().href) {
        <app-team-card [team]="team" (deleteTeam)="onDeleteTeamEvent($event)"
                       (modifyTeam)="onModifyTeamEvent($event)"></app-team-card>
      }
    } @else {
      <p>Aucune équipe</p>
    }
  </div>

  <mat-paginator
    [length]="paginatedResourceTeamsSignal().page.totalElements"
    [pageSize]="paginatedResourceTeamsSignal().page.size"
    [pageIndex]="paginatedResourceTeamsSignal().page.number"
    (page)="onHandlePageEvent($event)"

    [showFirstLastButtons]="true"
    [pageSizeOptions]="[5, 10, 50]"
  ></mat-paginator>

</div>
